.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.six {
    grid-column: span 6;
}

.three {
    grid-column: span 3;
}

.box {
    border: 1px solid black;
    padding: 10px;
    background-color:cornsilk;
}