.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box:first-child {

    grid-column: 1 / 3;


    
}


.box {
    border: 1px solid black;
    padding: 10px;
    background-color: azure;
}